<!DOCTYPE html>
<html>
<head>
    <title>Simulación Agente</title>
    <style>
        .mapa, .mapa_explorado {
            display: grid;
            grid-template-columns: repeat(10, 20px);
            grid-gap: 1px;
        }
        .cell {
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            border: 1px solid #ccc;
        }
        .O { background-color: #3f3f3f; }
        .F { background-color: rgb(255, 166, 0); color: #fff; }
        .P { background-color: rgb(43, 255, 0); color: #fff; }
        .A { background-color: rgb(0, 4, 255); color: #fff; }
    </style>
</head>
<body>
    <h1>Simulación Agente</h1>
    <h2>Mapa Actual</h2>
    <div class="mapa"></div>
    <h2>Mapa Explorador por el Agente</h2>
    <div class="mapa_explorado" id="agentes_explorados"></div>

    <script>
        function actualizarMapa(data) {
            const mapaDiv = document.querySelector('.mapa');
            const agentesExploradosDiv = document.getElementById('agentes_explorados');
            mapaDiv.innerHTML = '';
            agentesExploradosDiv.innerHTML = '';

            // Crear mapa actual
            for (let i = 0; i < data.mapa.length; i++) {
                for (let j = 0; j < data.mapa[i].length; j++) {
                    let cell = document.createElement('div');
                    cell.classList.add('cell');
                    cell.textContent = data.mapa[i][j];

                    if (data.mapa[i][j] !== ' ') {
                        cell.classList.add(data.mapa[i][j]);
                    }
                    mapaDiv.appendChild(cell);
                }
            }

            // Crear Mapa explorado de Agentes combinados
            let mapaExploradoCombinado = Array.from({ length: 10 }, () => Array(10).fill('?'));

            data.agentes.forEach(agente => {
                for (let i = 0; i < agente.mapa_explorado.length; i++) {
                    for (let j = 0; j < agente.mapa_explorado[i].length; j++) {
                        if (agente.mapa_explorado[i][j] !== '?' && agente.mapa_explorado[i][j] !== 'A') {
                            mapaExploradoCombinado[i][j] = agente.mapa_explorado[i][j];
                        }
                    }
                }
            });

            for (let i = 0; i < mapaExploradoCombinado.length; i++) {
                for (let j = 0; j < mapaExploradoCombinado[i].length; j++) {
                    let cell = document.createElement('div');
                    cell.classList.add('cell');
                    cell.textContent = mapaExploradoCombinado[i][j];

                    if (mapaExploradoCombinado[i][j] !== '?' && mapaExploradoCombinado[i][j] !== ' ') {
                        cell.classList.add(mapaExploradoCombinado[i][j]);
                    }
                    agentesExploradosDiv.appendChild(cell);
                }
            }

            // Posiciones de los agentes
            data.agentes.forEach(agente => {
                let cellIndex = agente.agente_pos[0] * 10 + agente.agente_pos[1];
                if (cellIndex >= 0 && cellIndex < agentesExploradosDiv.children.length) {
                    let cell = agentesExploradosDiv.children[cellIndex];
                    cell.classList.add('A');
                    cell.textContent = 'A';
                }
            });

            if (data.juego_terminado) {
                alert("¡Se ha detenido el incendio!");
            } else {
                setTimeout(obtenerDatosMapa, 200);
            }
        }

        function obtenerDatosMapa() {
            fetch('/get_map_data')
                .then(response => response.json())
                .then(data => {
                    actualizarMapa(data);
                });
        }

        obtenerDatosMapa();
    </script>
</body>
</html>
